.article-text {
  font-family: "Helvetica", Sans-Serif monospace;
  color: rgb(61, 61, 61);
  font-size: 18px;
}

.read-more {
  color: rgb(32, 116, 221);
  font-size: 75%;

  text-align: center;
}
.article-title {
  text-align: center;
  font-size: 20px;
}
.article-icons {
  display: table;

  margin-left: auto;
  margin-right: auto;
}
.sort-by {
  margin-top: 5%;
  text-align: center;
}
.author {
  display: table-cell;
  text-align: center;
}
.comments {
  display: table-cell;
  padding-left: 10px;
}
.likes {
  display: table-cell;
  padding-left: 10px;
}
.nav-buttons {
  color: aquamarine;
}
.article {
  margin-top: 5%;

  border: rgb(194, 194, 194);

  border-radius: 25px;
}
/*   */
.article__title {
  text-align: center;
  font-size: 30px;
}
.links {
  text-decoration: none;
  color: rgb(61, 61, 61);
  text-align: center;
}

.text {
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 30px;

  margin-left: 2%;
  margin-right: 2%;
}
.user-icon {
}
.send {
  margin-top: 10px;
}
.thumb-icon {
  color: rgb(32, 116, 221);
  outline: none !important;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  padding-right: 30px;
}
.menu-items {
  padding: 5px;
}
.bin-icon {
  color: rgb(36, 36, 36);
  outline: none !important;
  border: none;
  background-color: white;
  cursor: pointer;
}

.comments {
  font-family: "Helvetica", Sans-Serif monospace;
  font-size: 14px;
  color: black;
}
.wheel {
  padding-left: 100px;
}
.submit-comment {
  padding: 2%;
}

/* .article {
    transition: all 1s ease;
  }
  .article:hover {
    transition: all 1s ease;
    background-color: rgb(223, 223, 223);
  } */
.comment-count {
  margin-left: 2rem;
}
.voter {
  left: 20px;
}

.topics {
}
.nav {
}

.like__number {
  top: 30%;

  font-size: 25px;
}
.pick-topic {
  margin-top: 5%;
}
.like__icon {
  display: flex;
}

.profile {
}

.type-of-articles {
  text-align: center;
  margin-top: 30px;
}

.likes-on-page {
  display: flex;
}
