.nc-news {
  padding-left: 15px;
}
.logged-in {
  padding-right: 15px;
  text-align: left;
}
.home-link {
}
.nav {
  background-color: rgb(44, 162, 241);
}
.nav-link {
  margin-right: 20px;
}
.navbar-nav {
  margin-left: 15px;
}
.topic-link {
  margin: 5px;
  text-align: left;
}
.info__icon {
  justify-content: left;
  display: flex;
  margin-left: 50px;
  margin-top: auto;
  margin-bottom: auto;
  transform: scale(1.1);
}
.write-article__icon {
  transform: scale(1.1);
  margin-left: 50px;
  justify-content: left;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
}
